.sushi-block {
    width: 280px;
    text-align: center;
    margin-bottom: 65px;
    border: 1px solid #edebe8;
    border-radius: 10px;

    &__image {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 279px;
    }

    &__title {
        height: 60px;
        padding-top: 15px;
        padding-left: 10px;
        text-align: left;
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    &__descr {
        height: 86px;
        text-align: left;
        padding: 0 10px;
        color: #8d8c8d;
    }
    &__selector {
        display: flex;
        background-color: #f3f3f3;
        border-radius: 10px;
        flex-direction: column;
        padding: 6px;
        ul {
            display: flex;
            flex: 1;

            &:first-of-type {
                margin-bottom: 6px;
            }

            li {
                padding: 8px;
                flex: 1;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
                @include noselect();
                &.active {
                    background: #ffffff;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                    border-radius: 5px;
                    cursor: auto;
                }
            }
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    &__price {
        font-weight: bold;
        font-size: 17px;
        line-height: 27px;
        letter-spacing: 0.015em;
    }
}
